name: Keep Workspace Alive with SSH

on:
  workflow_dispatch:
  # schedule:
    # - cron: '*/9 * * * *'
    # - cron: '*/9 4-16 * * *' # 12:00-00:00 每9分钟运行一次

jobs:
  keep-alive:
    runs-on: ubuntu-latest
    timeout-minutes: 350 
    environment: SecretId
    steps:
      - uses: actions/checkout@v4
      - name: Keep workspace alive
        run: |
          ssh -o StrictHostKeyChecking=accept-new -o UserKnownHostsFile=/dev/null ${{ secrets.SSH_URL }} "echo 'Keep-alive ping at $(date)'"
