name: Keep Workspace Alive with SSH

on:
  workflow_dispatch:
  schedule:
    - cron: '*/9 * * * *'
    # - cron: '*/9 4-16 * * *' # 12:00-00:00 每9分钟运行一次

jobs:
  keep-alive:
    runs-on: ubuntu-latest
    timeout-minutes: 350 
    environment: SecretId
    steps:
      - uses: actions/checkout@v4
      - run: ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null user@host ${{ secrets.SSH_URL }}
      - run: echo "SSH connection established in the background."
